@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
  min-height: 100%; /* Change height to min-height */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height instead */
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: #fafafa;
  color: #333;
  background-color: #fbf9e9;
}
h1 {
  color: #fda47e;
  font-weight: 700;
  text-shadow: -1px -1px 0 #3d3737, 1px -1px 0 #3d3737, -1px 1px 0 #3d3737,
    1px 1px 0 #3d3737;
}
h2 {
  color: #fda47e;
  font-weight: 600;
}
strong {
  color: #fda47e;
}

.banner {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  display: block;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  max-height: 250px;
  margin-top: auto; /* Change from margin-top: 50px */
}

.footer-banner {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  display: block;
}

/* ===== Responsiv tekst og layout ===== */
@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1;
    margin: 30px 15px;
  }

  .banner {
    max-height: 200px;
  }

  footer {
    max-height: 200px;
  }
  .footer-banner {
    max-height: 100px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 30px 15px;
  }

  .banner {
    max-height: 200px;
  }

  footer {
    max-height: 200px;
  }
  .footer-banner {
    max-height: 150px;
  }
}
